API_ID=24265373
API_HASH=7c92b8c32db9560c4569ccb297e3edab
BOT_TOKEN=7961384088:AAG5CLBOY_4wgJFsjwsNu49fdhTgeS54pO0
LOG_GROUP_ID=-1002193329336
MONGO_DB_URI=mongodb+srv://midhunx3:midhunx3@cluster0.dhxb5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=8127073440
STRING_SESSION=BQFyQp0Ao06G6Ze8Mnuzb28ptQyeqAYo1JUKXmzdopkT1zoQDAXTtdPunvmvkVQaWBy795d46kBpVMwjtvlEKJBzYT-P0N9R5YcDlKg4e82HB00E8FyEHqdL3emSEkAhrlu4yactdwAYQXiLeiiI6W69Kv9kGJlwLVzcE1KeQEFtrNE9-tdV5qUDBP1KtEBWBwsOL1zaBxckpvfOkwoLfDFsMR_yWuEjf__wt_H0qJXloC079mqUqMGUaMJC47umWbkflqEcSdXEmeNIjvFFyronBY59yjtZhXxxie0vTyITmmnKjA5pDdwfG72VfDCnZv6UslhZxttTzW697ZPZjKxArNc-vQAAAAHkaUygAA
